@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto&display=swap');

html, body {
    height: 100%;
}
h1, h2, h3, h4{
    font-family: 'Lobster', cursive;
}
p, i, input{
    font-family: 'Roboto', sans-serif;
}
body {
    display: flex;
    flex-direction: column;
}
[role=main] {
    display: flex;
}
header{
    height: 5em;
}
header img{
    height: 8em;
    margin-left: 32%;
}
header button:last-child{
    margin-right: 32px;
    margin-top: 15px;
    float: right;
    border: none;
    background-color: white;
}
header button:last-child i{
    font-size: 25px;
}
header button:first-child{
    margin-top: 15px;
    float: left;
    background-color: black;
    margin-left: 20px;
}
header button:first-child i{
    font-size: 30px;
    color: white;
}
header input{
    margin-top: 15px;
    margin-left: 40px;
    float: left;
    background-color: rgba(247, 246, 245, 0.5);
}
aside{
    display: flex;
    flex-direction: column;
}
aside a{
    margin-top: 30px;
}
main{
    margin-left: 30px;
    background-color: rgba(247, 246, 245, 0.5);
}
h1{
    text-align: center;
    font-size: 40px;
}
main div{
    width: 200px;
    margin-left: 25px;
    display: inline-block;
}
main div img{
    width: 200px;
    height: 200px;
    margin-top: 15px;
}
footer {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
}
footer div{
    margin-top: 30px;
}
footer div:first-child{
    margin-left: 125px;
}
footer div:last-child{
    margin-right: 50px;

}
footer div article:first-child{
    width: 300px;
    text-align: justify;
}
footer div div{
    display: flex;
    flex-direction: column;
}
footer div div i{
    font-size: 30px;
    margin-top: 10px;
}
footer div article:last-child{
    width: 220px;
    text-align: justify;
}
footer div article:last-child p{
    margin: 0;
}
aside i{
    font-size: 40px;
    margin-top: 20px;
    margin-left: 20px;
    cursor: pointer;
}
.fa-copyright{
    font-size: 14px;
    margin-bottom: 20px;
    margin-top: 20px;
}
